.Home {
    background-color: #f4f8fc;
    margin: 0;
    padding: 0;
    .BtnPre{
        background-color: #e4e4e4;
        color: #000;
        width: 100px;
    }
    .BtnNext{
        background-color: #ee5488;
        color: black;
        width: 100px;
    }
}